In [133]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
import os

In [134]:
pwd = os.getcwd()

In [207]:
dataset = 'Nigerian_Car_Prices.csv'
data_import = pd.read_csv(dataset)
df = data_import.copy()

In [208]:
df = df.dropna(axis=0)
df.drop("Index", axis=1, inplace=True)

In [209]:
data_features = ['Make', 'Price', 'Mileage']
y = df["Condition"]
X = df[data_features]

In [198]:
# df_model = DecisionTreeRegressor(random_state=1)
# df_model.fit(X,y)

In [210]:
df

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price,Build
32,Lexus,2011.0,Nigerian Used,105546.0,4600.0,Petrol,Automatic,"14,040,000",SUV
44,Toyota,2014.0,Nigerian Used,216924.0,2500.0,Petrol,Automatic,"9,360,000",SUV
50,Toyota,2014.0,Nigerian Used,216924.0,2500.0,Petrol,Automatic,"9,360,000",SUV
54,Lexus,2016.0,Nigerian Used,107355.0,5700.0,Petrol,Automatic,"42,000,000",SUV
57,Mercedes-Benz,2007.0,Foreign Used,209466.0,4700.0,Petrol,Automatic,"4,515,000",SUV
...,...,...,...,...,...,...,...,...,...
4067,Toyota,2001.0,Nigerian Used,151916.0,3000.0,Petrol,Automatic,"1,575,000",SUV
4075,Toyota,2007.0,Nigerian Used,126793.0,3300.0,Hybrid,Automatic,"2,981,250",SUV
4076,Mercedes-Benz,2007.0,Nigerian Used,201183.0,4700.0,Petrol,Automatic,"5,625,000",SUV
4084,Lexus,2006.0,Nigerian Used,183979.0,4700.0,Petrol,Automatic,"5,720,000",SUV
4085,Honda,2013.0,Nigerian Used,103704.0,25.0,Petrol,Automatic,"5,625,000",SUV